<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\php4isapi.dll" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="default.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration>
