

.search-type {
float: left;
position: relative;
background: white;
border: 1px solid #D9D9D9;
width: 88px;
height: 28px;
/* margin-left: 3px; */
padding-left: 10px;
font-size: 14px;
color: #6d767b;
}
.title {
line-height: 30px;
cursor: pointer;
color: #999;
}
.search .more {
display: inline-block;
cursor: pointer;
width: 28px;
height: 28px;
position: absolute;
right: 0px;
top: 0;
background: url(../images/more.png);
border-left: 1px solid #D9D9D9;
}

.sitem {
position: absolute;
background: white;
border: 1px solid #D9D9D9;
width: 98px;
font-size: 14px;
color: #6d767b;
z-index: 999;
top: 29px;
}
.sitem a {
display: inline-block;
width: 90px;
height: 28px;
padding-left: 10px;
color: #6d767b;
line-height: 32px;
}

/**/
.part-box {
position: relative;
}
.search {
float: left;
/* margin-right: 15px; */
}
.txt-curstername {
width: 100px;
line-height: 30px;
text-align: center;
}
.mod-btn {
text-align: center;
padding: 20px;
}
.btn-add {
display: block;
width: 60px;
line-height: 2em;
border-radius: 4px;
background: #fff;
margin: 0 auto;
}
.part-maintt {
	margin-bottom: 15px;
}